IBM Data Science Capstone, Class 9, Week 3,  "Cananda Postal Codes Neighborhoods Data Frames"  Steven Harrison, March 17, 2019

Install our BeautifulSoup HTML Parser

In [9]:
!conda install -c anaconda BeautifulSoup4

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following packages will be UPDATED:

    beautifulsoup4: 4.6.0-py35h442a8c9_1 --> 4.6.3-py35_0 anaconda

beautifulsoup4 100% |################################| Time: 0:00:00  36.13 MB/s

Import our Python libraries.

In [1]:
"""  Import our Data and Data Analysis Dependencies """
import numpy as np                    # import our numpy arrays
import pandas as pd                   # import our pandas dataframes
import urllib.request                 # import our web access tool
from bs4 import BeautifulSoup         # import our HTML parsing tool

Extract our HTML data from the Wikipedia Site.

In [2]:
"""  Import our Data,  Webscrape Wikipedia for our Canada Postal Codes  """
toronto_codes = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'    # our wikipedia target
postal_page = urllib.request.urlopen(toronto_codes)                                  
soup = BeautifulSoup(postal_page, 'html.parser')                                     # read all of the HTML into soup

Isolate our data table embedded in our HTML.

In [3]:
code_table = soup.find('table',{'class':'wikitable sortable'})       # isolate our HTML table structure

Extract our data from the table tags and clean our data according to the system requirements

In [4]:
""" Extract our data from our table tr and td tags """
table_rows = code_table.findAll('tr')     # all our table elements are now in a list (mydata), extract from each...

delete = 0
row = list()          # initial processing
row2 = list()         # 2nd processing
row3 = list()         # 3rd processing 

for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]      # extracted data from HTML Tag
    if delete == 0:                 # handle the first value and remove []
        delete = 1
        continue
    row2.append(row)

""" Clean our data """
for items in row2:
    if items[1] == 'Not assigned':    # handle 'not assigned' in 2nd value
        continue
    temp_val = items[2].strip()       # handle \n removal on 3rd value each item
    del items[2]
    items.append(temp_val)
    if items[2] == 'Not assigned':    # handle 'not assigned' in 3rd value, 2nd value becomes 3rd value
        del items[2]
        replacement = items[1]
        items.append(replacement)
    row3.append(items)

# Notes:  March 17, 2019
# row3 data cleansing was completed in Microsoft Excel and transformed into a CSV and uploaded to labs.cognitiveclass.ai thru Skills Network Lab (Upload Files)

Tranform our data into a pandas datafram, add column titles, and output to Jupyter Lab

In [5]:
""" read our cleaned Postal Codes csv file into our pandas dataframe """
df = pd.read_csv('Postal Codes2.csv') 
df.columns=['PostalCode', 'Borough', 'Neighborhood']
df.head()

  PostalCode           Borough                      Neighborhood
0        M4A        North York                  Victoria Village
1        M5A  Downtown Toronto         Harbourfront, Regent Park
2        M6A        North York  Lawrence Heights, Lawrence Manor
3        M7A      Queen's Park                      Queen's Park
4        M9A         Etobicoke                  Islington Avenue

Out to console the shape of our dataframe.

In [6]:
""" Output the shape of our pandas dataframe """
df.shape

(102, 3)

In [8]:
""" read our cleaned Postal Codes csv file with Lat/Long integration into our pandas dataframe """
# This dataframe includes the Lat and Long of the Postal Codes and Boroughs, for use with FourSquare processing 
df = pd.read_csv('Postal Codes3.csv') 
df.columns=['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
1,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
2,M1G,Scarborough,Woburn,43.770992,-79.216917
3,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
4,M1J,Scarborough,Scarborough Village,43.744734,-79.239476